In [1]:
#importing libraries 
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib. pyplot
#setting graphics interface for seaborn 
sns. set(style='whitegrid', color_codes=True) 
#a generator of fixed random number 
np.random.seed(sum(map(ord, 'palettes'))) 
from sklearn. metrics import roc_auc_score

In [2]:
#collecting models to use
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import cross_val_score,train_test_split
#from sklearn.grid_search import GridSearchCV
#from sklearn.cross_validation import KFold

In [3]:
file=pd. read_csv('/storage/sdcard0/GBWhatsApp/Media/GBWhatsApp Documents/titanic.csv')

In [14]:
for dataset in X:
    dataset['Sex']=dataset['Sex'].map({'male': 1, 'female': 0}).astype(int)

TypeError: string indices must be integers

In [4]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder() 
file['Sex'] =le.fit_transform(file['Sex']) 
#file['Sex']. value_counts

In [5]:
#splitting dataset 
X_train, X_test =train_test_split(file, test_size=0.35,random_state=30, shuffle=False)

In [6]:
X_train

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.0500
5,0,3,Mr. James Moran,1,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,1,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,1,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,0,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,0,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,0,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,0,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,1,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,1,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,0,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,0,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,1,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,1,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,0,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,0,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,1,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,1,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,0,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,1,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,0,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,0,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,1,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,1,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,0,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,1,23.0,0,0,7.8958
...,...,...,...,...,...,...,...,...
546,1,2,Master. John Morgan Jr Davies,1,8.0,1,1,36.7500
547,1,1,Mr. John Borland Jr Thayer,1,17.0,0,2,110.8833
548,0,2,Mr. Percival James R Sharp,1,27.0,0,0,26.0000
549,0,3,Mr. Timothy O'Brien,1,21.0,0,0,7.8292
550,1,3,Mr. Fahim Leeni,1,22.0,0,0,7.2250
551,1,3,Miss. Velin Ohman,0,22.0,0,0,7.7750
552,0,1,Mr. George Wright,1,62.0,0,0,26.5500
553,1,1,Lady. (Lucille Christiana Sutherland)Duff Gordon,0,48.0,1,0,39.6000
554,0,1,Mr. Victor Robbins,1,45.0,0,0,227.5250
555,1,1,Mrs. Emil (Tillie Mandelbaum) Taussig,0,39.0,1,1,79.6500
556,1,3,Mrs. Guillaume Joseph (Emma) de Messemaeker,0,36.0,1,0,17.4000
557,0,3,Mr. Thomas Rowan Morrow,1,30.0,0,0,7.7500
558,0,3,Mr. Husein Sivic,1,40.0,0,0,7.8958
559,0,2,Mr. Robert Douglas Norman,1,28.0,0,0,13.5000
560,0,3,Mr. John Simmons,1,40.0,0,0,8.0500
561,0,3,Miss. (Marion Ogden) Meanwell,0,62.0,0,0,8.0500
562,0,3,Mr. Alfred J Davies,1,24.0,2,0,24.1500
563,0,3,Mr. Ilia Stoytcheff,1,19.0,0,0,7.8958
564,0,3,Mrs. Nils (Alma Cornelia Berglund) Palsson,0,29.0,0,4,21.0750
565,0,3,Mr. Tannous Doharr,1,28.0,0,0,7.2292
566,1,3,Mr. Carl Jonsson,1,32.0,0,0,7.8542
567,1,2,Mr. George Harris,1,62.0,0,0,10.5000
568,1,1,Mrs. Edward Dale (Charlotte Lamson) Appleton,0,53.0,2,0,51.4792
569,1,1,Mr. John Irwin Flynn,1,36.0,0,0,26.3875
570,1,3,Miss. Mary Kelly,0,22.0,0,0,7.7500
571,0,3,Mr. Alfred George John Rush,1,16.0,0,0,8.0500
572,0,3,Mr. George Patchett,1,19.0,0,0,14.5000
573,1,2,Miss. Ethel Garside,0,34.0,0,0,13.0000
574,1,1,Mrs. William Baird (Alice Munger) Silvey,0,39.0,1,0,55.9000
575,0,3,Mrs. Joseph (Maria Elias) Caram,0,18.0,1,0,14.4583

In [7]:
X_test

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
576,1,3,Mr. Eiriik Jussila,1,32.0,0,0,7.9250
577,1,2,Miss. Julie Rachel Christy,0,25.0,1,1,30.0000
578,1,1,Mrs. John Borland (Marian Longstreth Morris) T...,0,39.0,1,1,110.8833
579,0,2,Mr. William James Downton,1,54.0,0,0,26.0000
580,0,1,Mr. John Hugo Ross,1,36.0,0,0,40.1250
581,0,3,Mr. Uscher Paulner,1,16.0,0,0,8.7125
582,1,1,Miss. Ruth Taussig,0,18.0,0,2,79.6500
583,0,2,Mr. John Denzil Jarvis,1,47.0,0,0,15.0000
584,1,1,Mr. Maxmillian Frolicher-Stehli,1,60.0,1,1,79.2000
585,0,3,Mr. Eliezer Gilinski,1,22.0,0,0,8.0500
586,0,3,Mr. Joseph Murdlin,1,22.0,0,0,8.0500
587,0,3,Mr. Matti Rintamaki,1,35.0,0,0,7.1250
588,1,1,Mrs. Walter Bertram (Martha Eustis) Stephenson,0,52.0,1,0,78.2667
589,0,3,Mr. William James Elsbury,1,47.0,0,0,7.2500
590,0,3,Miss. Mary Bourke,0,40.0,0,2,7.7500
591,0,2,Mr. John Henry Chapman,1,37.0,1,0,26.0000
592,0,3,Mr. Jean Baptiste Van Impe,1,36.0,1,1,24.1500
593,1,2,Miss. Jessie Wills Leitch,0,31.0,0,0,33.0000
594,0,3,Mr. Alfred Johnson,1,49.0,0,0,0.0000
595,0,3,Mr. Hanna Boulos,1,18.0,0,0,7.2250
596,1,1,Sir. Cosmo Edmund Duff Gordon,1,49.0,1,0,56.9292
597,1,2,Mrs. Sidney Samuel (Amy Frances Christy) Jacob...,0,24.0,2,1,27.0000
598,0,3,Mr. Petco Slabenoff,1,42.0,0,0,7.8958
599,0,1,Mr. Charles H Harrington,1,37.0,0,0,42.4000
600,0,3,Mr. Ernst William Torber,1,44.0,0,0,8.0500
601,1,1,Mr. Harry Homer,1,35.0,0,0,26.5500
602,0,3,Mr. Edvard Bengtsson Lindell,1,36.0,1,0,15.5500
603,0,3,Mr. Milan Karaic,1,30.0,0,0,7.8958
604,1,1,Mr. Robert Williams Daniel,1,27.0,0,0,30.5000
605,1,2,Mrs. Joseph (Juliette Marie Louise Lafargue) L...,0,22.0,1,2,41.5792
...,...,...,...,...,...,...,...,...
857,0,2,Mr. Frederick Edward Giles,1,21.0,1,0,11.5000
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,0,48.0,0,0,25.9292
859,0,3,Miss. Dorothy Edith Sage,0,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,1,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,0,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,0,27.0,1,0,13.8583
863,0,1,Mr. Washington Augustus II Roebling,1,31.0,0,0,50.4958
864,0,3,Mr. Philemon van Melkebeke,1,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,1,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,1,26.0,0,0,7.8958
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,0,47.0,1,1,52.5542
868,0,1,Mr. Frans Olof Carlsson,1,33.0,0,0,5.0000
869,0,3,Mr. Victor Vander Cruyssen,1,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,0,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,0,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,1,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,1,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,1,23.0,0,0,7.8958
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,0,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,0,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,1,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,0,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,1,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,1,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,0,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,1,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,0,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,0,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,1,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,1,32.0,0,0,7.7500

In [11]:
X_train. drop(['Name', 'Survived' ],axis=1,  inplace=True)

In [12]:
X_test. drop(['Name', 'Survived' ], axis=1,inplace=True)

KeyError: "['Name' 'Survived'] not found in axis"

In [21]:
X_train

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500
5,0,3,1,27.0,0,0,8.4583
6,0,1,1,54.0,0,0,51.8625
7,0,3,1,2.0,3,1,21.0750
8,1,3,0,27.0,0,2,11.1333
9,1,2,0,14.0,1,0,30.0708
10,1,3,0,4.0,1,1,16.7000
11,1,1,0,58.0,0,0,26.5500
12,0,3,1,20.0,0,0,8.0500
13,0,3,1,39.0,1,5,31.2750
14,0,3,0,14.0,0,0,7.8542
15,1,2,0,55.0,0,0,16.0000
16,0,3,1,2.0,4,1,29.1250
17,1,2,1,23.0,0,0,13.0000
18,0,3,0,31.0,1,0,18.0000
19,1,3,0,22.0,0,0,7.2250
20,0,2,1,35.0,0,0,26.0000
21,1,2,1,34.0,0,0,13.0000
22,1,3,0,15.0,0,0,8.0292
23,1,1,1,28.0,0,0,35.5000
24,0,3,0,8.0,3,1,21.0750
25,1,3,0,38.0,1,5,31.3875
26,0,3,1,26.0,0,0,7.2250
27,0,1,1,19.0,3,2,263.0000
28,1,3,0,24.0,0,0,7.8792
29,0,3,1,23.0,0,0,7.8958
...,...,...,...,...,...,...,...
546,1,2,1,8.0,1,1,36.7500
547,1,1,1,17.0,0,2,110.8833
548,0,2,1,27.0,0,0,26.0000
549,0,3,1,21.0,0,0,7.8292
550,1,3,1,22.0,0,0,7.2250
551,1,3,0,22.0,0,0,7.7750
552,0,1,1,62.0,0,0,26.5500
553,1,1,0,48.0,1,0,39.6000
554,0,1,1,45.0,0,0,227.5250
555,1,1,0,39.0,1,1,79.6500
556,1,3,0,36.0,1,0,17.4000
557,0,3,1,30.0,0,0,7.7500
558,0,3,1,40.0,0,0,7.8958
559,0,2,1,28.0,0,0,13.5000
560,0,3,1,40.0,0,0,8.0500
561,0,3,0,62.0,0,0,8.0500
562,0,3,1,24.0,2,0,24.1500
563,0,3,1,19.0,0,0,7.8958
564,0,3,0,29.0,0,4,21.0750
565,0,3,1,28.0,0,0,7.2292
566,1,3,1,32.0,0,0,7.8542
567,1,2,1,62.0,0,0,10.5000
568,1,1,0,53.0,2,0,51.4792
569,1,1,1,36.0,0,0,26.3875
570,1,3,0,22.0,0,0,7.7500
571,0,3,1,16.0,0,0,8.0500
572,0,3,1,19.0,0,0,14.5000
573,1,2,0,34.0,0,0,13.0000
574,1,1,0,39.0,1,0,55.9000
575,0,3,0,18.0,1,0,14.4583

In [8]:
Y_train=X_train. iloc[:, [0]] 
#Y_train

In [9]:
Y_test=X_test. iloc[:, [0]]
#Y_test

In [13]:
#Logistic regression
LR = LogisticRegression(random_state = 0)
LR.fit(X_train, Y_train)
y_pred_lr = LR.predict(X_test)
LR_score = LR.score(X_train, Y_train)
print("LR Accuracy  score = {:.2f}".format(LR_score*100))

LR Accuracy  score = 79.86

/data/data/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/data/data/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
y_pred_lr

array([0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0], dtype=int64)

In [15]:
Y_test==y_pred_lr

ValueError: Unable to coerce to Series, length must be 1: given 311

In [ ]:
y_pred_lr

In [16]:
#Support vector 
svc = SVC(random_state = 0)
svc.fit(X_train, Y_train)
y_pred_svc = svc.predict(X_test)
SVC_score = svc.score(X_train, Y_train)
print("SVC Accuracy  score = {:.2f}".format(SVC_score*100))

/data/data/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/data/data/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC Accuracy  score = 90.10

In [22]:
pred=pd. DataFrame(y_pred_svc)

In [24]:
pred is Y_test

False

In [25]:
Y_test. info

<bound method DataFrame.info of      Survived
576         1
577         1
578         1
579         0
580         0
..        ...
882         0
883         1
884         0
885         1
886         0

[311 rows x 1 columns]>

In [27]:
ytest=np. array(Y_test)

In [29]:
ytest.shape

(311, 1)

In [30]:
pred. shape

(311, 1)

In [31]:
pred in ytest

True

In [32]:
pred is ytest

False